__pycache__
*.pyc
.env
devdata.db
*.egg-info
*.egg
build/
dist/
eggs/
venv/
wheels/
sdist/
pip-log.txt
.\#*
\#*\#
.coverage
pytest.xml
coverage.xml

development.ini
production.ini
gearbox.pid
client_secrets.json
/algobowl/lib/algocdn.py
